.App {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 400px;
  width: 600px;
  margin: .5em;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#video-container {
  display: flex;
  justify-content: center;
}




.Tevin{
  border:3px white dashed;
  margin-top: 20px;

}